@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #9095A1;
  color: #fff;
}

/* Header */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.decoration-header{
  width: 100vw;
  height: 440px;
  background-color:#272E36;
  position: absolute;
  left: 0px;
  bottom: 0px;
  clip-path: polygon(0 0, 40% 10%, 360% 100%, 0 100%);
}